<!--{{skills| json}}-->
<form style="padding-top: 50px" action="/action_page.php">
  <div class="form-group">
    <label for="skillName">New Skill Name</label>
    <input class="form-control" id="skillName" required name="skillName" [(ngModel)]="skills.skillName" >
  </div>
  <p [hidden]="skillsData.length !== 0" > no skills to show </p>
  <button class="btn btn-primary" type="submit" (click)="addMoreSkills()">add More Skills</button>
  <button class="btn btn-primary" type="submit" (click)="addSkills()">add Skills</button>
</form>
<ul *ngFor="let skill of skillsData" class="list-group">
  <li class="list-group-item">{{skill.skillName}}</li>
</ul>
