<div class="container">
  <p>Homeworks! tadaa</p>
  <div class="card" >
    <div class="card-header">
      <!--      <i class="fas fa-graduation-cap"></i>-->
      HOME
    </div>

  </div>
  Users
  <div style="padding: 13px;">
    <ul *ngFor="let user of users" style="margin-top:11px;">
      <li> {{user| json}}
<!--        <a [routerLink]="['/profile', user.id]">Go to Profile  </a>-->
      </li>
    </ul>
  </div>
  <a routerLink="test">Add User </a>
  <button (click)="post()">click</button>
</div>
