<!--{{educationData | json}}-->
<form style="padding-top: 50px">
  <div class="form-group">
    <label for="schoolName">School Name</label>
    <input class="form-control" id="schoolName" required name="schoolName" [(ngModel)]="education.schoolName" >
  </div>
  <div class="form-group">
    <label for="degree">Degree</label>
    <input class="form-control" id="degree" required name="degree" [(ngModel)]="education.degree" >
  </div>
  <div class="form-group">
    <label for="fieldOfStudy">field of study</label>
    <input class="form-control" id="fieldOfStudy" required name="fieldOfStudy" [(ngModel)]="education.fieldOfStudy" >
  </div>
  <div class="form-group">
    <label for="startDate">startDate</label>
    <input class="form-control" id="startDate" required name="startDate" [(ngModel)]="education.startDate" >
  </div>
  <div class="form-group">
    <label for="endDate">EndDate</label>
    <input class="form-control" id="endDate" required name="endDate" [(ngModel)]="education.endDate" >
  </div>
  <div class="form-group">
    <label for="grade">Grade</label>
    <input type="number" class="form-control" id="grade" required name="grade" [(ngModel)]="education.grade" >
  </div>
  <p [hidden]="educationData.length !== 0" > no eduction details added to show </p>
  <button class="btn btn-primary" type="submit" (click)="addMoreEducation()">add Another Education</button>
  <button class="btn btn-primary" type="submit" (click)="addEducation()">add Education</button>
<form>

<ul *ngFor="let education of educationData" class="list-group">
  <li class="list-group-item">
    <div class="my-auto">
      <div class="resume-content mr-auto">
        <h3 class="mb-0">{{education.schoolName}}</h3>
        <div class="subheading mb-3">{{education.degree}}</div>
        <div>{{education.fieldOfStudy}}</div>
        <p>{{education.grade}}</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{education.startDate}} - {{education.endDate}}</span>
      </div>
    </div>
  </li>
</ul>
</form>
</form>
